.brand-logo {
    width: 64px;
}

.flag {
    width: 24px;
}

.navbar {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    box-shadow: 1px 1px rgba(33, 37, 41, 0.06);
}

.footer {
    border-top: 1px solid rgba(33, 37, 41, 0.1);
    box-shadow: -1px -1px rgba(33, 37, 41, 0.06);
}

.navbar-margin {
    margin-bottom: 80px;
}
