@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("./fonts/Lato/Lato-Light.ttf");
}

h1, h2, h3, h4, h5, h6, button {
    font-family: "Lato-Bold";
}

p, span, div, a, li, label, input, textarea {
    font-family: "Lato";
}

.brand-logo {
    width: 64px;
}

.flag {
    width: 24px;
}

.navbar {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    box-shadow: 0px 1px rgba(33, 37, 41, 0.06);
}

.footer {
    border-top: 1px solid rgba(33, 37, 41, 0.1);
    box-shadow: 0px -1px rgba(33, 37, 41, 0.06);
}

.navbar-margin {
    margin-bottom: 80px;
}

.main-content {
    background-color: white;
    min-height: 75vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu-card {
    cursor: pointer;
}

.menu-card img {
    height: 300px;
}

.menu-card:hover {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.sr-only {
    display: none;
}
